@model eCommerce.MvcWebUI.Models.RegisterViewModel


<section class="form-section register-form">
    <div class="container">
        <h1 class="h2 heading-primary font-weight-normal mb-md mt-lg">Üyelik</h1>

        <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
            <div class="box-content">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })


                    <h4 class="heading-primary text-uppercase mb-lg">KİŞİSEL BİLGİLER</h4>
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profil.TCKimlikNo, new { @class = "font-weight-normal" })
                                <span class="required">*</span>
                                @Html.TextBoxFor(m => m.Profil.TCKimlikNo, new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profil.Ad, new { @class = "font-weight-normal" })
                                <span class="required">*</span>
                                @Html.TextBoxFor(m => m.Profil.Ad, new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profil.Soyad, new { @class = "font-weight-normal" })
                                <span class="required">*</span>
                                @Html.TextBoxFor(m => m.Profil.Soyad, new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profil.DogumTarihi, new { @class = "font-weight-normal" })
                                <span class="required">*</span>
                                @Html.TextBoxFor(m => m.Profil.DogumTarihi, new { type = "date", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profil.Telefon, new { @class = "font-weight-normal" })
                       
                                @Html.TextBoxFor(m => m.Profil.Telefon, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    
                    <h4 class="heading-primary text-uppercase mb-lg">ÜYELİK BİLGİLERİ</h4>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "font-weight-normal" })
                                <span class="required">*</span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "required" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "font-weight-normal" })
                                <span class="required">*</span>
                                @Html.PasswordFor(m => m.Email, new { type= "email", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "font-weight-normal" })
                                    <span class="required">*</span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "font-weight-normal" })
                                    <span class="required">*</span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <p class="required mt-lg mb-none">* Zorunlu</p>

                                <div class="form-action clearfix mt-none">
                                    <a href="demo-shop-6-login.html" class="pull-left"><i class="fa fa-angle-double-left"></i> Anasayfa</a>

                                    <input type="submit" class="btn btn-primary" value="Kayıt Ol" />
                                </div>
                            </div>
                        </div>

                }

            </div>
        </div>
    </div>
</section>



