<!DOCTYPE html>
<html>
<head>
    
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> Interior Mobilya </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/Content/img/apple-touch-icon.png">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    
    <!-- Vendor CSS -->
    @Styles.Render("~/Content/VendorCSS")

    <!-- Theme CSS -->
    @Styles.Render("~/Content/ThemeCSS")

    <!-- Current Page CSS -->
    @Styles.Render("~/Content/PageCSS")

    <!-- Skin CSS -->
    @Styles.Render("~/Content/OtherCSS")

    <!-- Head Libs -->
    @Scripts.Render("~/bundles/HeadLibs")


</head>
<body>

    <div class="body">
        <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 147, 'stickySetTop': '-147px', 'stickyChangeLogo': false}">
            <div class="header-body">
                <div class="header-top">
                    <div class="container">
                        <div class="dropdowns-container">
                            <div class="header-dropdown cur-dropdown">
                                <a href="#">TL <i class="fa fa-caret-down"></i></a>

                                <ul class="header-dropdownmenu">
                                    <li><a href="#">USD</a></li>
                                </ul>
                            </div>

                            <div class="header-dropdown lang-dropdown">
                                <a href="#">Türkçe <i class="fa fa-caret-down"></i></a>

                                <ul class="header-dropdownmenu">
                                    <li><a href="#"><img src="/Content/img/demos/shop/en.png" alt="English">English</a></li>
                                </ul>
                            </div>

                        </div>

                        <div class="top-menu-area">
                            <a href="#">Linkler <i class="fa fa-caret-down"></i></a>

                            @Html.Partial("_LoginPartial")

                        </div>
                    </div>
                </div>
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a href="/">
                                    <img width="111" height="51" src="/Content/Images/logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="row">
                                <div class="cart-area">
                                    <div class="custom-block">
                                        <i class="fa fa-phone"></i>
                                        <span>(+90) 123 45 67</span>
                                        <span class="split"></span>
                                        <a href="/Home/Contact">İLETİŞİM</a>
                                    </div>

                                    @{ Html.RenderAction("SepetPartial", "Sepet"); }

                                    
                                </div>

                                <div class="header-search">
                                    <a href="#" class="search-toggle"><i class="fa fa-search"></i></a>
                                    <form action="#" method="get">
                                        <div class="header-search-wrapper">
                                            <input type="text" class="form-control" name="q" id="q" placeholder="Ürün Ara..." required>
                                            <select id="cat" name="cat">
                                                <option value="">Kategoriler</option>
                                                <option value="1">- Berjer</option>
                                            </select>
                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>

                                <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-container header-nav">
                    <div class="container">
                        <div class="header-nav-main">
                            <nav>
                                <ul class="nav nav-pills" id="mainNav">
                                    <li><a href="/">ANASAYFA</a></li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle">
                                            Blog <span class="tip tip-hot">Eklenecek!</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/">Blog</a></li>
                                        </ul>
                                    </li>
                                    <li class="pull-right">
                                        <a href="/Home/Contact">
                                            İLETİŞİM
                                        </a>
                                    </li>
                                    <li class="pull-right ">
                                        <a href="/Home/About">
                                            HAKKINDA
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="mobile-nav">
            <div class="mobile-nav-wrapper">
                <ul class="mobile-side-menu">
                    <li><a href="/">ANASAYFA</a></li>
                    
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">BLOG <span class="tip tip-hot">EKLENECEK!</span></a>

                        <ul>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/Account/Login">Giriş</a>
                    </li>
                    <li>
                        <a href="/Account/Register">Kayıt</a>
                    </li>

                    <li>
                        <a href="/Home/About">HAKKINDA</a>
                    </li>
                    <li>
                        <a href="/Home/Contact">İLETİŞİM</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="mobile-menu-overlay"></div>

        <div role="main" class="main">

            @RenderBody()

        </div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-ribbon">
                        <span>iletisim Kurun</span>
                    </div>

                    <div class="col-md-4">
                        <h4>Sayfalar</h4>
                        <ul class="links">
                            <li>
                                <i class="fa fa-caret-right text-color-primary"></i>
                                <a href="/">Anasayfa</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right text-color-primary"></i>
                                <a href="/Home/About">Hakkında</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right text-color-primary"></i>
                                <a href="/Home/Contact">İletişim</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-details">
                            <h4>İletişim</h4>
                            <ul class="contact">
                                <li><p><i class="fa fa-phone"></i> <strong>Telefon:</strong><br> (123) 456-7890</p></li>
                                <li><p><i class="fa fa-envelope-o"></i> <strong>Email:</strong><br> <a href="mailto:a@a.com">asd@asd.com</a></p></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="newsletter">
                            <h4>Abone Ol</h4>

                            <p>E-mail :</p>
                            <form id="newsletterForm" action="" method="POST">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Email" name="newsletterEmail" id="newsletterEmail" type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Gönder</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a href="index.html" class="logo">
                        <img alt="" class="img-responsive" src="/Content/Images/logo-footer.png">
                    </a>
                    <ul class="social-icons">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <img alt="Payments" src="/Content/img/demos/shop/payments.png" class="footer-payment">
                    <p class="copyright-text">© 2017. Tüm hakları saklıdır.</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    @Scripts.Render("~/bundles/VendorJs")

    <!-- Theme Custom -->
    @Scripts.Render("~/bundles/OtherJs")




</body>
</html>
