@model eCommerce.Entities.Concrete.Siparis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profil.TCKimlikNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profil.TCKimlikNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OdendiMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdendiMi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SiparisId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
